{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col m8 offset-m2">
            <h1>Modifier l'événement</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}