<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

<title>{% block title %}PartaCar!{% endblock %}</title>
{% block stylesheets %}
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">


<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="{{ asset('bundles/framework/css/materialize.min.css')}}">
<link rel="stylesheet" href="{{ asset('bundles/framework/css/monCss.css')}}">
{% endblock %}


</head>
<body>
	{% block body %}

	
	{% endblock %} 
	{% block javascripts %}
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	{% endblock %}
</body>
</html>


