@CHARSET "ISO-8859-1";

.navBarPerso{
	background-color: #26a69a;
}

.imgTravels{
	 border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.ButtonDrop {
	float: right;
	
}
.log {
	margin-top: 70px;
	margin-bottom:auto;
	opacity: 0.85;   
}



.show {
	display:flex;
}

.containerImg {
	margin-top:20px;
    position: relative;
    width: 50%;
    
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.par {
	height:600px;
}


  