{% extends 'base.html.twig' %}

{% block body %}

<h1 class="header center teal-text text-lighten-1">PartaCar</h1>
<div class="row center">
	<h5 class="header col s12 light text-center">Subscribe</h5>
</div>
<div class="row center">
	<form action="" method="post" class="form-horizontal ">
		<div class="container z-depth-5">
			<div class="row">
				<div class="input-field col s3 offset-s3">
					<i class="material-icons prefix">perm_identity</i> <input
						id="firstname" type="text" name="firstname"
						class="validate center-align"> <label for="firstname">First
						Name</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">perm_identity</i> <input
						id="lastname" type="text" name="lastname"
						class="validate center-align"> <label for="lastname">Last
						Name</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s3 offset-s3">
					<i class="material-icons prefix">person_pin</i> <input id="pseudo"
						name="pseudo" type="text" class="validate center-align"> <label
						for="pseudo">Pseudo</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">email</i> <input id="mail"
						name="mail" type="text" class="validate center-align"> <label
						for="mail">Mail</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s3 offset-s3">
					<i class="material-icons prefix">lock_outline</i> <input
						id="password" name="password" type="password"
						class="validate center-align"> <label for="password">Password</label>
				</div>
				<div class="input-field col s3">
					<i class="material-icons prefix">stay_current_portrait</i> <input
						id="phoneNumber" name="phoneNumber" type="text"
						class="validate center-align"> <label for="phoneNumber">Phone</label>
				</div>
			</div>

			<div class="row">
				<div class=" col s1 offset-s3">
					<i class="material-icons prefix">perm_contact_calendar</i> 
				</div>
				<div class="datepicker col s2 ">
					
					<input id="birthday" name="birthday" type="date"
						class="datepicker validate center-align">
				</div>
				<div class="input-field col s3">
					<select id="school" name="school" value="1" class="browser-default">
						<option value="" disabled selected>School</option>
						<option value="1">ISEN Toulon</option>
						<option value="2">Ingemedia</option>
						<option value="3">Faculte de Droit</option>
					</select>
				</div>
			</div>



			<div class="row">
				<div class="input-field col s4 offset-s4">
					<i class="material-icons prefix">info_outline</i> <input
						id="carType" name="carType" type="text" lenght="20"
						class="validate center-align"> <label for="carType">Car
						type</label>
				</div>
				<div class="input-field col s4 offset-s4">
					<i class="material-icons prefix">content_paste</i>
					<textarea id="description" name="description" type="text"
						length="1000" class="materialize-textarea validate center-align"></textarea>
					<label for="description">Description</label>
				</div>
			</div>

			<div class="row">
				<div class="file-field input-field col s3 offset-s5">
					<div class="btn waves-effect waves-light">
						<i class="material-icons">assignment_ind</i> <span>Profile
							pic</span> <input id="profilePic" name="profilePic" type="file">
					</div>
				</div>
			</div>

			<br> 

			<div class="row">
			<div class="col s3 offset-s8">
				<button class="btn waves-effect waves-light" type="submit"
					name="action">Envoyer<i class="material-icons right">send</i>
				</button>
				</div>
				</div>
				<br>	
	</form>
	
</div>

</div>
</div>
<script>
	$('.datepicker').pickadate({
		selectMonths : true, // Creates a dropdown to control month
		selectYears : 15
	// Creates a dropdown of 15 years to control year
	});
</script>
{% endblock %}