{% extends 'base.html.twig' %}

{% block body %}
<nav class="white" role="navigation">
	<div class="nav-wrapper container">

		<a id="logo-container" href="#" class="brand-logo">Logo</a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{{ path('homepage') }}">Accueil</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">Navbar Link</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i
			class="material-icons">menu</i></a>
	</div>
</nav>

<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<br> <br>
			<h1 class="header center teal-text text-lighten-2">PartaCar</h1>
			<div class="row center">
				<h5 class="header col s12 light">A modern responsive front-end
					framework based on Material Design</h5>
			</div>

			<div class="divider"></div>
			<div class="section">
				<div class="container row col s6 offset-s6">
				<h5>Section 1</h5>
				<p>Stuff</p>
				</div>
			</div>
			<div class="divider"></div>
			<div class="section">
				<h5>Section 2</h5>
				<p>Stuff</p>
			</div>



		</div>
	</div>
	{% endblock %}